/* 

    Copyright 2014 Jai Veeraswami.
    All rights reserved.

    styles.css 1.0.0.001
    Release Notes
    - None
    To Do List
    - None
    Bug Fixes
    - None

*/

html,
body {
    background: #303030;
    position: absolute;
    overflow: scroll;
    z-index: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#interface {
    margin-left: -400px;
    margin-top: -300px;
    left: 50%;
    top: 50%;
    z-index: 0;
    height: 600px;
    width: 800px;
    position: absolute;
    display: block;
}

#left-panel {
    height: 600px;
    width: 256px;
    left: 0;
    top: 0;
    background: #545B63;
    position: absolute;
    display: block;
}

#right-panel {
    height: 600px;
    width: 544px;
    z-index: 0;
    left: 256px;
    top: 0;
    background: #46494C;
    position: absolute;
    display: block;
}

#left-title-group {
    position: relative;
    height: 20px;
    width: auto;
    top: 13px;
    left: 18px;
}

#left-heavy-title {
    font-family: 
        Avenir-Heavy,
        Arial;
    font-size: 13px;
    float: left;
    color: #FFFFFF;
}

#left-light-title {
    margin-left: 4px;
    font-family: 
        Avenir-Book,
        Arial;
    font-size: 13px;
    float: left;
    color: #757F8A;
}

#right-title-group {
    position: absolute;
    text-align: center;
    top: 15px;
    width: 544px;
    height: 17px;
}

#right-heavy-title {
    font-family: 
        Avenir-Heavy,
        Arial;
    color: #FFFFFF;
    font-size: 12px;
}

#right-light-title {
    font-family: 
        Avenir-Book,
        Arial;
    color: #757A80;
    font-size: 12px;
}

#mule-list {
    position: relative;
    background: none;
    left: 11px;
    top: 33px;
}

#mule-list-item {
    border: 
        1px solid transparent;
    box-sizing: border-box;
    height: 22px;
    width: 234px;
}

#mule-list-item:hover {
    cursor: pointer;
}

#mule-list-item.selected {
    border: 
        1px solid #6A737D;
    border-radius: 8px;
    background: #5F6770;
}

#mule-list-item-name {
    margin: 3px 0 0 7px;
    line-height: 15px;
    float: left;
    font-family: 
        Avenir-Light,
        Arial;
    font-size: 12px;
    color: #FFFFFF;
}

input#mule-list-item-name {
    background: none;
    margin: 2px 0 0 7px;
    height: 16px;
    min-width: 0;
    font-family: 
        Avenir-Light,
        Arial;
    float: left;
    padding: 0;
    width: 218px;
    font-size: 12px;
    color: #4A90E2;
    border: none;
}

input#mule-list-item-name:focus {
    outline: none;
}

#mule-list-item-count {
    line-height: 16px;
    margin-right: 7px;
    margin-top: 3px;
    font-family: 
        Avenir-Light,
        Arial;
    font-size: 12px;
    float: right;
    color: #808A96;
    display: none;
}

#mule-list-item.selected
#mule-list-item-count {
    display: block;
}

#left-di-list {
    position: absolute;
    left: 40px;
    top: 58px;
}

#right-di-list {
    position: absolute;
    left: 310px;
    top: 58px;
}

#create-mule-button {
    box-sizing: border-box;
    border: 
        1px solid #757F8A;
    font-family: 
        Avenir-Light,
        Arial;
    border-radius: 8px;
    position: relative;
    background: #6A737D;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
    height: 16px;
    width: 57px;
    left: 95px;
    top: 56px;
}

#create-mule-button:hover {
    cursor: pointer;
}

#create-mule-button:active {
    background: #5e666e;
}

#rename-mule-button {
    box-sizing: border-box;
    font-family: 
        Avenir-Light,
        Arial;
    border: 
        1px solid #6A6E73;
    background: #5E6266;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    font-size: 10px;
    color: #FFFFFF;
    bottom: 38px;
    height: 16px;
    width: 72px;
    float: left;
    left: 40px;
}

#rename-mule-button:hover {
    cursor: pointer;
}

#rename-mule-button:active {
    background: #525457;
}

#delete-mule-button {
    box-sizing: border-box;
    font-family: 
        Avenir-Light,
        Arial;
    border: 
        1px solid #6A6E73;
    border-radius: 8px;
    position: absolute;
    background: #5E6266;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
    bottom: 38px;
    height: 16px;
    left: 120px;
    width: 67px;
    float: left;
}

#delete-mule-button:hover {
    cursor: pointer;
}

#delete-mule-button:active {
    background: #525457;
}

#attribution {
    position: absolute;
    text-align: center;
    bottom: 39px;
    width: 178px;
    left: 39px;
    font-family: 
        Avenir-Light,
        Arial;
    line-height: 14px;
    font-size: 10px;
    color: #757F8A;
}

#di-list-item {
    margin-bottom: 8px;
    font-family: 
        Avenir-Light,
        Arial;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}

#di-list-item-label {
    font-family: 
        Avenir-Light,
        Arial;
    color: #FFFFFF;
    font-size: 12px;
    float: left;
}

#di-list-item-input-email {
    -webkit-appearance: none;
    font-family: 
        Avenir-Light,
        Arial;
    background: none;
    line-height: 17px;
    margin-left: 6px;
    font-size: 12px;
    color: #4A90E2;
    outline: none;
    border: none;
    height: 16px;
    width: 101px;
    float: left;
}

#di-list-item-input-password {
    -webkit-appearance: none;
    font-family: 
        Avenir-Light,
        Arial;
    background: none;
    line-height: 17px;
    margin-left: 6px;
    font-size: 12px;
    color: #4A90E2;
    outline: none;
    border: none;
    height: 16px;
    width: 80px;
    float: left;
}

#di-list-item-input-total {
    font-family: Avenir-Light;
    -webkit-appearance: none;
    background: none;
    line-height: 17px;
    margin-left: 6px;
    font-size: 12px;
    color: #4A90E2;
    outline: none;
    border: none;
    height: 16px;
    float: left;
}

#di-list-item-output-used {
    font-family: Avenir-Light;
    -webkit-appearance: none;
    background: none;
    line-height: 17px;
    margin-left: 6px;
    font-size: 12px;
    color: #4A90E2;
    outline: none;
    border: none;
    height: 16px;
    float: left;
}

#di-list-item-action-button {
    font-family: Avenir-Light;
    border: 1px solid #6A6E73;
    box-sizing: border-box;
    background: #5E6266;
    text-align: center;
    border-radius: 8px;
    line-height: 14px;
    margin-left: 6px;
    font-size: 10px;
    color: #FFFFFF;
    height: 16px;
    width: 34px;
    float: left;
}

#di-list-item-action-button:hover {
    cursor: pointer;
}

#di-list-item-action-button:active {
    background: #525457;
}

#add-item-button {
    box-sizing: border-box;
    font-family: 
        Avenir-Light,
        Arial;
    border: 
        1px solid #6A6E73;
    background: #5E6266;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    font-size: 10px;
    color: #FFFFFF;
    height: 16px;
    width: 54px;
    top: 180px;
    left: 40px;
}

#add-item-button:hover {
    cursor: pointer;
}

#add-item-button:active {
    background: #525457;
}

#del-item-button {
    box-sizing: border-box;
    font-family: 
        Avenir-Light,
        Arial;
    border: 
        1px solid #6A6E73;
    background: #5E6266;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    font-size: 10px;
    color: #FFFFFF;
    display: none;
    height: 16px;
    width: 65px;
    float: left;
    left: 102px;
    top: 180px;
}

#del-item-button:hover {
    cursor: pointer;
}

#del-item-button:active {
    background: #525457;
}

#item-storage {
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
    height: 56px;
    width: 464px;
    z-index: 0;
    left: 40px;
    top: 120px;
}

#item-storage::-webkit-scrollbar {
    display: none;
}
 
#item-storage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#item-storage::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.slot {
    border: 1px solid #5E6266;
    box-sizing: border-box;
    display: inline-block;
    background: #525659;
    position: relative;
    margin-right: 1px;
    height: 48px;
    width: 48px;
    z-index: 0;
}

.slot:hover {
    border: 1px solid #6A6E73;
    background: #5B5F63;
    cursor: pointer;
}

.slot.active {
    border: 1px solid #6A6E73;
    background: #5B5F63;
}

.slot-alt {
    border: 1px solid transparent;
    box-sizing: border-box;
    display: inline-block;
    background: none;
    position: relative;
    margin-right: 1px;
    height: 48px;
    width: 48px;
    z-index: 0;
}

.slot-alt:hover {
    border: 1px solid #5E6266;
    background: #525659;
    cursor: pointer;
}

.slot-alt.active {
    border: 1px solid #6A6E73;
    background: #5B5F63;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.hidden {
    display: none;
}

::selection {
    background: rgba(255,255,255,0.2);
    background: rgba(74,144,226,0.2);
}
::-moz-selection {
    background: rgba(255,255,255,0.2);
    background: rgba(74,144,226,0.2);
}

#add-item-wrapper {
    position: absolute;
    overflow: scroll;
    background: none;
    width: 464px;
    height: 522px;
    top: 40px;
    left: 40px;
}

.wrapper-separator {
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 
        Avenir-Light,
        Arial;
    font-size: 12px;
    width: 422px;
    margin-left: 10px;
}

.wrapper-separator > .main {
    display: inline;
    color: #FFFFFF;
}

.wrapper-separator > .sub {
    display: inline;
    color: #6A6E73;
}